<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gym Finder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Special+Elite" rel="stylesheet">
    <link rel="stylesheet" href="assets/style.css" type="text/css">
  </head>
  <body>
    
    <header>
      <div class="header row">
        <div class="title">
          <h1 id="brand">Gym Finder</h1>
          <p id="slogan">Start moving, Start living</p>
        </div>
        <img src="https://raw.githubusercontent.com/Redrogue12/gym-finder/master/images/logo.jpg" class="logo" alt="Arm Logo">
        <div class="title">
        </div>
      </div>
    </header>
    
    <div id="container">
      <form action="/search" method="GET">
        <input type="text" id="search" name="search" placeholder="Enter town name or zip code"><br>
        <input type="submit">
      </form>
    </div>
    
    <footer id="normal-footer">
      <p>By: Edgar X. González Cortés</p>
      <p>Y00-26-3142</p>
      <p>exgc12@gmail.com</p>
    </footer>

  </body>
</html>