body {
  font-family: 'Special Elite';
  background-color: #23395B;
  color: white;
  min-height: 100%;
  position: relative;
}

html {
  height: 100%;
}

#container {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; 
}

.card {
  text-align: center;
  border-radius: 5px;
  border-top: 2px solid grey;
  border-right: 2px solid grey;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  margin: 0 auto 20px auto;
  width: 100%;
  max-width: 300px;
  min-height: 200px;
  background-color: #D9DCD6;
  color: black;
}

.image {
  height: 200px;
  width: 100%;
  border-bottom: 2px solid black;
}

/* Nav */

header {
    background-color: #222222;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #FF0000;
}

header h1, header p {
    margin: 5px 0 5px 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.title {
    width: 250px;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-self: center;
}

/* Form */

input[type="text"] {
    border-radius: 3px;
    border: 2px solid #97D8B2;
    line-height: 32px;
    font-size: 14px;
    width: 80%;
    min-width: 250px;
    transition-property: width;
    transition-duration: .8s;
    transition-timing-function: linear;
}

input[type="text"]:focus {
    border: 2px solid #FF0000;
    width: 100%;
}

input[type="submit"] {
    border-radius: 3px;
    border-bottom: 2px solid #BA0000;
    border-right: 2px solid #BA0000;
    border-top: none;
    border-left: none;
    padding-top: 5px;
    margin: 15px 20%;
    background-color: #FF0000;
    color: white;
    line-height: 24px;
    width: 20%;
    min-width: 150px;
    font-weight: bold;
}

/* footer */

footer {
  background-color: #222222;
  border-top: 2px solid #FF0000;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly
}

#footer {
    bottom: -50px;
}

@media (max-width: 600px) {
    .title {
        width: 200px;
    }

    footer {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: 150px;
    }

    #normal-footer {
        bottom: 0;
    }

    #footer {
         bottom: -150px;
    }

}

@media (max-width: 500px) {

    header {
        min-width: 500px;
    } 

    .title {
        width: 150px;
    }

    #brand {
        margin-left: 15px;
    }

    #slogan {
        display: none;
    }

}